  @font-face {

    /* font-family: Aktifo-bold;
    src: url('../src/assets/font/aktifoa-bold.ttf') format('truetype');

    /* font-family: Aktifo bold-oblique; */
    /* src: url('../src/assets/font/aktifoa-boldoblique.ttf') format('truetype'); */

    /* font-family: Aktifo book; */
    /* src: url('../src/assets/font/aktifoa-book.ttf') format('truetype'); */

    /* font-family: Aktifo book-oblique; */
    /* src: url('../src/assets/font/aktifoa-bookoblique.ttf') format('truetype'); */ 

    font-family: Aktifo-light;
    src: url('../src/assets/font/aktifoa-light.ttf') format('truetype');

    /* font-family: Aktifo light-oblique; */
    /* src: url('../src/assets/font/aktifoa-lightoblique.ttf') format('truetype'); */

    /* font-family: Aktifo-medium; */
    /* src: url('../src/assets/font/aktifoa-medium.ttf') format('truetype'); */
    /* font-family: Aktifo medium-oblique; */
    /* src: url('../src/assets/font/aktifoa-mediumoblique.ttf') format('truetype'); */

    /* font-family: Aktifo semi-bold; */
    /* src: url('../src/assets/font/aktifoa-semibold.ttf') format('truetype'); */

    /* font-family: Aktifo semi-bold-oblique; */
    /* src: url('../src/assets/font/aktifoa-semiboldoblique.ttf') format('truetype'); */
  }

  * {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

  }

  .main {
    width: 100vw;
    height: fit-content;
    margin: 0;
    padding: 0;
    border: none;
  }


  .hero-section {
    background: url("../src/assets/pics/banner image copy@2x.png") no-repeat bottom;
    background-size: cover;
    width: 100%;
    height: 99.9vh;
    margin: 0;
    padding: 0;
  }

  .division-one {
    width: 60%;
    height: 100%;
  }

  .division-two {
    width: 35%;
    height: 100%;
  }

  .image {
    position: absolute;
    width: 30%;
    top: 50px;
    left: 141px;
  }

  .image>img {
    height: 88px;
    width: 262px;
  }

  .bold-text {
    position: absolute;
    top: 280px;
    left: 141px;
    font-family: Aktifo-light;
    font-size: 54px;
    font-weight: 600;
    width: 40%;
    height: 253px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .light-text {
    position: absolute;
    top: 590px;
    left: 141px;
    font-family: Aktifo-light;
    font-size: 34px;
    font-weight: 300;
    width: 28%;
    height: 82px;
    text-align: left;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
  }

  .svg-icons {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    left: 150px;
    top: 700px;
  }

  .split {
    display: flex;
    flex-direction: row;
    padding: 25px;
  }

  .first-col {
    margin: 20px;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 50%;

  }

  .text-one {
    margin-top: 15px;
    font-family: Aktifo-light;
    font-size: 18px !important;
    text-align: center;
  }

  /* Hero section ends */

  .mid-section {
    background: url("../src/assets/pics/Group 218.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /* margin-top: -172px; */
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .content {
    position: relative;
    top: 200px;
    left: 80px;
  }

  .content>h1 {
    font-family: Aktifo-light;
    font-weight: 600;
    font-size: 63px;
  }

  .content>p{
    font-family: Aktifo-light;
    font-weight: 300;
    font-size: 26px;
  }
  .content>h2{
    font-family: Aktifo-light;
    font-weight:bolder;
    font-size: 26px;
  }
  .content ul li {
    font-family: Aktifo-light;
    font-size: 26px;
  }

  .btn {
    position: relative;
    top: 350px;
    left: 100px;
    padding: 25px 80px 25px 80px;
    font-size: 24px;
    background-color: #ff580b;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: Aktifo-light;
  }

  .arrow {
    position: relative;
    top: 5px;
  }

  /*  mid section ends */

  .content-section {
    background: url("../src/assets/pics/GS_DIGITAL_AD_WALL_FILMS_INTERIOR_DESIGN_COLLECTION_Indoor_MPI8621_Removable@2x.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;

  }

  .content-section-two {
    display: none;
    width: 100%;
    height: 100vh;

  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 100vh;
    background-color: #E5E5E5;

  }

  .right-two {

    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;

  }

  .icon-text-two {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .center-two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .section-img>img {
    display: none;
    width: 100vw;
  }

  .icon {
    background-color: #ffffff;
    width: 9%;
    height: 90px;
    border-radius: 50%;
  }

  .heading {
    font-size: 48px;
    font-family: Aktifo-light;
    margin-bottom: 50px;
  }

  .svg {
    margin-top: 15px;
  }

  .icon-text {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }

  .text {
    margin-left: 30px;
    font-size: 20px;
    font-family: Aktifo-light;
  }

  .text>b {
    font-family: Aktifo-light;
    font-size: 20px;
  }

  .style {
    color: #050505;
    font-size: 40px;
    position: relative;
    left: 35px;
    top: 25px;
  }

  .btn-two {
    padding: 25px 50px 25px 50px;
    font-size: 24px;
    background-color: #ff580b;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  /* content ends */

  .footer {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 300px;
  }

  .footer-next {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 300px;
    display: none;
  }

  .core {
    display: flex;
    flex-direction: row;
  }

  .footer-first>h3 {
    color: #ffffff;
    font-family: Aktifo-light;
    margin-right: 10px;
  }

  .footer-second>p {
    font-family: Aktifo-light;
    color: #ffffff;
  }

  .footer-one>img {
    margin-top: 30px;
  }

  .footer-one>h1 {
    font-family: Aktifo-light;
    color: #ffffff;
  }

  .footer-two>h3 {
    font-family: Aktifo-light;
    color: #ffffff;
  }

  .footer-three>p {
    font-family: Aktifo-light;
    color: #ffffff;
  }

  .last {
    width: 100vw;
    height: 100px;
    font-family: Aktifo-light;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    color: #ffffff;
    text-decoration: none;
  }


  /*  footer ends */


  /*  Media */

  /* @media only screen and (min-width:800px)and (min-width:1220px) {
    .hero-section {
      height: 100vh !important;
    }

    .image {
      top: 30px;
      left: 141px;
    }

    .image>img {
      width: 250px;
      height: 100px;
    }

    .bold-text {
      font-size: 36px;
    }

    .light-text {
      font-size: 24px;
    }

    .split {
      padding: 15px;
    }

    .one {
      left: 5px;
      top: 10px;
    }

    .first-col {
      width: 60px;
      height: 60px;
      font-size: 50px;

    }

    .text-one>p {
      left: -30px;
      font-size: 18px;
    }

    .mid-section {
      background-size: cover;
      margin: 0px;
    }

    .content>h1 {
      font-size: 42px;
    }

    .content>p,
    .content>h2,
    ul li {
      font-size: 20px;
    }

    .heading {
      font-size: 32px;
      margin-left: 20px;
    }

    .text {
      margin-left: 40px;
    }

    .icon {
      height: 75px;
    }

    .style {
      font-size: 30px;
      left: 22px;
      top: 25px;
    }

    .footer-one>img {
      margin-top: 30px;
      height: 70px;
      width: 200px;
    }

    .footer-one>h1 {
      font-size: 28px;
    }

  } */

  /* @media only screen and (min-width:500px) and (max-width:800px) {
    .hero-section {
      width: 100vw;
      height: 100vh;
    }

    .bold-text {
      font-size: 30px;
    }

    .light-text {
      font-size: 24px;
    }

    .content>h1 {
      font-size: 32px;
    }

    .content>p,
    .content>h2,
    ul li {
      font-size: 16px;
    }

    .heading {
      font-size: 32px;
      margin-left: 20px;
      margin-top: 60px;
    }

    .text {
      margin-left: 40px;
    }

    .icon {
      height: 75px;
      width: 140px;
    }

    .style {
      font-size: 30px;
      left: 24px;
      top: 24px;
    }

    .split {
      padding: 10px;
    }

    .text-one>p {
      font-size: 18px;
    }
  } */

  @media only screen and (min-width:300px) and (max-width:500px) {
    .hero-section {
      background-image: url("../src/assets/pics/Mask Group 2@2x.png");
    }
    .image{
      left:50px
    }
    .bold-text {
      font-size: 1.5rem;
      width: 70%;
      top: 200px;
      left: 50px
    }

    .svg-icons {
      left: 50px;
      top: 400px;
    }

    .first-col {
      margin: 5px;
      width: 70px;
      height: 70px;
    }

    .light-text {
      font-size: 18px;
      width: 70%;
      top: 320px;
      left: 50px;
    }

    .text-one {
      top: -250px;
      left: -100px;
    }

    .mid-section {
      background-image: url("../src/assets//pics/Mask Group 1@2x.png");
      height: 2124px;
    }

    .content {
      top: 700px;
      left: 50px;
    }
    .content>p{
      font-size: 16px;
    }
    .content>h2{
      font-size: 16px;
    }
    .content ul li {
      font-size: 12px;
    }

    .btn {
      top: 750px;
      left: 50px;
    }
    .content-section{
      display: none;
    }
    .content-section-two{
      display: block;
      height: 1290px;
      background-color:#e6e6e6 ;
    }

    .content>h1 {
      font-size: 28px;
    }

    .content>p,
    .content>h2,
    ul li {
      font-size: 12px;
    }

    .heading {
      font-size: 28px;
      margin-left: 20px;
      margin-top: 200px;
    }

    .text {
      margin-left: 40px;
    }

    .icon {
      margin-bottom: 15px;
      height: 85px;
      width: 90px;
    }
    .icon-text-two{
      justify-content: center;
      align-items: baseline;
    }
    .heading{
      margin-bottom: 0px;
    }
    .heading >h3{
      margin-right: 200px;
      font-size: 50px;
      margin-top:-100px;
    }
    .style {
      font-size: 30px;
      left: 6px;
      top: 6px;
    }

    .section-img>img {
      display: block;
    }
    .footer{
      display: none;
    }
    .footer-next{
      padding: 25px;
      display: block;
    }
    /* .footer-one > img{
      width: 80px;
      height: 10px;
      margin-bottom: 15px;
    } */

    .text {
      font-size: 12px;
    }

    .split {
      padding: 10px;
    }

    .text-one>p {
      font-size: 10px;
    }

    .footer-one>img {
      height: 40px;
      width: 150px;
    }

    .footer-one>h1 {
      font-size: 24px;
    }
    .footer-first > h3 {
      color: #727272;
      font-weight: 200;
    }
    .footer-second >p {
      color: #727272;
      font-weight: 200;
    }
    .footer-two>h3 {
      font-size: 14px;
    }

    .footer-three>p {
      font-size: 12px;
    }

    .btn-two {

      padding: 5px 25px 5px 25px;
      font-size: 20px;
      background-color: #ff580b;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 120px;
    }
    .last{
      color: #848484;
      font-size: 8px;
      font-weight: 300;
    }
    #container{
      position: absolute;
      top: 550px;
      right: 50px;
    }
  }

  /* @media only screen and (max-width:350px) {
    /* .hero-section {
      background-image: url("../src/assets/pics/Mask Group 2@2x.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
    } 

    .bold-text {
      width: 80%;
      font-size: 18px;
      position: relative;
      top: 200px;
    }

    .light-text {
      width: 60%;
      font-size: 12px;
      position: relative;
      top: 40px;
    }

    .split {
      padding: 0px;
    }

    .first-col {
      position: relative;
      bottom: 350px;
      right: 100px;
      width: 50px;
      height: 50px;
    }

    .one {
      left: 10px;
      top: 10px;
      font-size: 28px;
    }

    .text-one>p {
      font-size: 18px;
      position: relative;
      bottom: 350px;
      right: 100px;
    }

    .mid-section {
      background-image: url("../src/assets/pics/Mask Group 1@2x.png");

    }

    .content {
      top: 100px;
    }

    .content>h1 {
      font-size: 20px;
    }

    .content>p,
    .content>h2,
    ul li {
      font-size: 12px;
    }

    .btn {
      top: 150px
    }

    .content-section {
      display: flex;
      flex-direction: column-reverse;
    }

    .right {
      display: block;

    }

    .heading {
      font-size: 30px;
      margin-top: 30px;
      margin-left: 20px;
    }

    .icon {
      height: 40px;
      width: 100px;
    }

    .style {
      font-size: 20px;
      left: 12px;
      top: 10px;
    }

    .text {
      font-size: 10px;
    }

    .footer-one>img {
      height: 50px;
      width: 100px;
    }

    .footer-one>h1 {
      font-size: 16px;
    }

    .footer-two>h3 {
      font-size: 10px;
    }

    .footer-three>p {
      font-size: 10px;
    }

    .last {
      font-size: 12px;
    }

    .btn-two {
      padding: 15px 25px 15px 25px;
      font-size: 15px;
      background-color: #ff580b;
      color: #ffffff;
      border: none;
      border-radius: 15px;
      cursor: pointer;
    }

    .form-container {
      top: 20px;
      right: 0px;
      max-width: 100px;
    }
  } */

  /* Form */
  form > h2,p{
    font-family: Aktifo-light;
    margin-bottom: 4px;
  }
  .form-container {
    position: absolute;
    top: 400px;
    right: 450px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: #000000;
    font-family: Aktifo-light;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .check-box label {
    text-align: center;
    margin: 8px;
  }

  .form-group label {
    margin-top: 30px;
    display: block;
    margin-bottom: 5px;
  }

  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    color: #ff580b;
    font-family: Aktifo-light;
  }

  .form-group input[type="checkbox"] {
    width: auto;
    margin-top: 5px;
  }

  .form-group button {
    background-color: #ff580b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 120px;
    font-size: 20px;
    margin-top: 20px;
  }